.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 30px;
}

.row {
  display: flex;
  align-items: center;
}

.row + .row {
  margin-top: 20px;
}

.name,
.input {
  font-size: 32px;
  color: #4a5f77;
}

.wrapper {
  justify-content: flex-end;
  flex-grow: 1;
}

.input {
  width: 80%;
  text-align: right;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, .2);
  outline: none;
}

.input.readOnly {
  border-bottom: none;
}

:global(.slider) {
  flex-grow: 1;
}

@media (orientation: landscape) {
  .box {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
  }

  .inputRow {
    flex-direction: column;
  }

  .walletRow {
    justify-content: center;
  }

  .input {
    text-align: center;
  }

  .name {
    margin-bottom: 20px;
  }
}

.walletRow {
  color: #4a5f77;
  opacity: .5;
}

.walletIcon {
  margin: 0 5px;
}